<div class="menu">
     <a routerLink="home" routerLinkActive="menu-active">Home</a>
     <a routerLink="create-vendor" routerLinkActive="menu-active">CreateVendor</a>
     <a routerLink="vendor-list" routerLinkActive="menu-active">VendorsList</a>
     <a routerLink="cpwd" routerLinkActive="menu-active">Change Password</a>
     <a (click)="fnLogout()">Logout</a>
</div>
<router-outlet></router-outlet>