/* You can add global styles to this file, and also import other style files */

.m-b25{
    margin-bottom: 25px;
}

.m-b50{
    margin-bottom: 50px;
}
.m-b75{
    margin-bottom: 75px;
}


.m-t25{
    margin-top: 25px;
}

.m-t50{
    margin-top: 50px;
}
.m-t75{
    margin-top: 75px;
}

.menu-active{
    color: red;
    border-bottom: 2px solid red;
    font-size: 20px;
    letter-spacing: 5px;
}

.menu{
    text-align: right;
    line-height: 40px;
    background: burlywood;
}

.menu > a{
    margin-right: 15px;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
}
body{
  background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjsho37p-3mAhVcxzgGHZHpBpEQjRx6BAgBEAQ&url=https%3A%2F%2Fappadvice.com%2Fpost%2Fhow-download-watch-netflix-offline%2F729713&psig=AOvVaw2TVZZus3GKW2vmgv5PdOhZ&ust=1578342988138587);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat{
    position: fixed;
    left: 1488px;;
}
a{
    margin-left:20px;
}