<div class="mat">
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu"[routerLink]="'/cart'">
    <button mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>cart</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>home</mat-icon>
      <span>home</span>
    </button>
    <button mat-menu-item>
      <mat-icon>accessibility_new</mat-icon>
      <span>profile</span>
    </button>
  </mat-menu>
</div>
<router-outlet></router-outlet>